html {
  font-family: arial, sans-serif;
  font-size: 13px;
}

#searchbar {
  font-size: 16px;
  width: 420px;
  margin: 30px 0;
  padding: 12px;
  background-color: transparent;
  border: solid;
  border-width: 1px;
  border-radius: 20px;
  border-color: #DDDDDD;
}

.submit {
  font-size: 14px;
  text-align: center;
  color: #222;
  background-color: #FFF;
  width: 150px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submit:hover {
  border-style: solid;
  border-width: 1px;
  border-color: #DDDDDD;
}

.search {
  /*position: absolute;*/
  width: 500px;
  /*left: 50%;*/
  margin: 0 auto;
  /*margin-left: -150px;*/
}

.search img {
  /*margin-top: 50%;
  padding: 1px;*/
  display: block;
  margin: 0 auto;
  margin-top: 200px;
}

div.navbar li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  float: left;
}

li a {
  display: inline-block;
  margin: 8px;
  padding: 8px;
  opacity: 0.75;
  color: #000;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

div.header {
  top: 0;
  overflow: hidden;
  position: fixed;
}

div.footer {
  bottom: 0;
  overflow: hidden;
  position: fixed;
}

div.footer a {
  color: #222;
}

.left {
  float: left;
}

.right {
  right: 0;
  float: right;
}